<h1 class="opening">Welcome to FanLife</h1>
<p class="opening">This is a website dedicated to all the various fandoms that exist out there.<br>
Feel free to comment, connect and edit all of the various fandoms that exist on our site.<br>
If there's one that you don't see, feel free to add it.</p>

<%= link_to('Sign In', login_path) %>
<%= link_to('New User', new_user_path) %>
