<h1 class="opening">Welcome to FanLife!</h1>
<p class="intro">This is a website dedicated to all the various fandoms that exist out there.<br>
Feel free to comment, connect and edit all of the various fandoms that exist on our site,<br>
and if your favorite isn't there, feel free to add it on. <br>
All we ask is that you be respectful when posting, and please, <strong>don't hate on the fandoms you dislike!</strong></p>

<div class="start">
<%= link_to('Sign In', login_path) %>
<%= link_to('New User', new_user_path) %>
</div>
