<h1>Fandoms</h1>
<p>Here is a list of all the fandoms we currently have. <br>
  If you have one you wish to add, feel free to. <br>
  Or, if there's something you wish to edit, feel free to do so as well.</p>

<ul id="list">
  <% @fandoms.each do |f| %>
<li style= "padding: 10px;"> <%= link_to(f.title, "/fandom/#{f.id}") %>
</li>
  <% end %>
</ul>
<p>
<%= link_to('Add New Fandom', new_fandom_path) %>
</p>
<p>
<%= link_to('Back to User', user_path(current_user)) %>
</p>
