// Place all the styles related to the fandom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list {
  margin-left: 7px;
  font-size: 20px;
  font-family: serif;
}

#source {
  font-size: 21px;
  font-family: serif;
  font-weight: bold;
}

.origin {
  font-size: 10px;
}

p {
  font-size: 17px;
  font-family: "Times New Roman", Georgia, serif;
  line-height: 18px;
  padding-left: 7px;
}

.guide {
  padding: 0px, 20px;
  margin-top: 20px;
}

body {
  padding: 20px;
}

.input {
  margin-left: 15px;
  font-size: 19px;
}

.comments {
  font-size: 15px;
  padding-bottom: 10px;
}

.fandom {
  text-decoration: underline;
}
#comment-space{
  height: 80px;
  width: 250px;
}
.edit-fandom {
  margin-top: 10px;
}
.fandom-new {
  margin-top: 25px;
  margin-bottom: 7px;
}
