// Place all the styles related to the front_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opening {
  text-align: center;
      p {
        font-size: 20px;
      }

      h1 {
      font-family: cursive;
      }
}

.start{
    text-align: center;
    font-size: 22px;
    padding: 0px, 8px;
}
