// Place all the styles related to the front_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opening {
  text-align: center;
  font-weight: bold;
  font-family: Apple Chancery, cursive;
}

.start{
    text-align: center;
    font-size: 22px;
    padding: 12px;
}

.intro {
  font-size: 20px;
  text-align: center;
}
